/* googel fonts css */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main{
    max-width: 1320px;
    margin: 50px auto;
}
.banner {
    background: linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0.5),rgba(7, 2, 17, 0)),url(../images/Banner\ Image.png);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;  
}
.banner-container h3{
    font-size: 32px;
    color: white;
}
.banner-container h2{
    font-size: 72px;
    color: white;
    margin: 0;
}
/* offer section styles */
.offer-section{
    text-align: center;
    margin: 120px 0px;
}
.offer-section h1 {
    font-size: 88px;
    font-weight: bold;
    color: #ff0000;
    margin: 0;
}
.offer-section h4 {
    font-size: 24px;
    font-weight: 500;
    color: #ff0000;
}
.offer-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}