/* googel fonts css */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared css start*/
.paragraph-dec {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 300;
}
/* shared css end*/


main{
    max-width: 1320px;
    margin: 50px auto;
}
.banner {
    background: linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0.5),rgba(7, 2, 17, 0)),url(../images/Banner\ Image.png);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;  
}
.banner-container h3{
    font-size: 32px;
    color: white;
}
.banner-container h2{
    font-size: 72px;
    color: white;
    margin: 0;
}
/* offer section styles */
.offer-section{
    text-align: center;
    margin: 120px 0px;
}
.offer-section h1 {
    font-size: 88px;
    font-weight: bold;
    color: #ff0000;
    margin: 0;
}
.offer-section h4 {
    font-size: 24px;
    font-weight: 500;
    color: #ff0000;
}
.offer-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
/* welcome section styles */
.welcome-section {
    background: linear-gradient(to right,rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)),url(../images/Vectorrr.png);
    height: 600px;
    border-radius: 16px;
}
.welcome-container {
    padding: 126px 152px 298px 128px;
    
}
.welcome-container h2 {
    font-size: 64px;
    color: #fff;
    letter-spacing: 3px;

}
.welcome-container p {

}
.welcome-container a {
     font-size: 20px;
     font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 30px 0px 0px 20px;
    text-transform: uppercase;
}